:root {
    --sublime-rosa: #D83C8B;
    --sublime-rosa-claro: #d17fb5dd;
    --sublime-guinda: #6D0D32;
    --sublime-amarillo: #ffedab;
    --sublime-crema: #FFF7E5;
    --accent-color       : var(--sublime-rosa);
    --dark-color         : var(--sublime-guinda);
    --light-color        : #ffffff;
    --grey-color         : #e9dce7;
    --light-grey-color   : var(--sublime-crema);
    --primary-color      : var(--sublime-rosa);
    --light-primary-color: var(--sublime-rosa-claro);
    --body-font           : "Open Sans", sans-serif;
    --heading-font        : "Nunito", sans-serif;
}
body {
  --bs-link-color: var(--sublime-guinda);
  --bs-link-hover-color: var(--sublime-rosa);
  --bs-body-color: #6a3d52;
  --bs-primary: var(--sublime-rosa);
  --bs-primary-rgb: 216, 60, 139;
  --bs-warning-bg-subtle: var(--sublime-amarillo);
  --bs-light-rgb: 255,247,229;
  --bs-info-rgb: 247,207,234;
}

.bg-success {
    background-color: var(--sublime-rosa-claro) !important; 
}
.btn-primary {
  --bs-btn-bg: var(--sublime-rosa);
  --bs-btn-hover-bg: var(--sublime-guinda);
}
.btn-outline-primary {
  --bs-btn-color: var(--sublime-rosa);
  --bs-btn-border-color: var(--sublime-rosa);
  --bs-btn-hover-bg: var(--sublime-rosa);
  --bs-btn-hover-color: #fff;
}
.btn-warning {
  --bs-btn-bg: var(--sublime-amarillo);
  --bs-btn-hover-bg: #f3e3a7;
}
.btn-success {
  --bs-btn-bg: var(--sublime-rosa-claro);
  --bs-btn-hover-bg: var(--sublime-rosa);
}
body {
  letter-spacing: 0.03em;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
  color: var(--dark-color);
  font-weight: 700;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: 700;
}
.container-fluid {
  max-width: 1600px;
}
.banner-blocks {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto; /* FIX */
  grid-gap: 2rem;
}

.block-1 { grid-area: 1 / 1 / 3 / 8; }
.block-2 { grid-area: 1 / 8 / 2 / 13; }
.block-3 { grid-area: 2 / 8 / 3 / 13; }

@media screen and (max-width:1140px) {
  .banner-blocks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .block-1 { grid-area: 1 / 1 / 3 / 2; }
  .block-2 { grid-area: 3 / 1 / 4 / 2; }
  .block-3 { grid-area: 4 / 1 / 5 / 2; }
  
}

.banner-ad {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.banner-ad .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.banner-ad .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 4px;
  background: #FFF;
  opacity: 1;
  transition: background 0.3s ease-out;
}
.banner-ad .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: var(--sublime-rosa-claro);
}
.banner-ad .swiper-slide {
  min-height: 659px;
  display: flex;
}

.banner-ad .banner-content {
  padding: 52px;
}
.banner-ad.large .banner-content {
  padding: 90px;
  background-color: #c6dbf9e3;
} 
.banner-ad .banner-content .categories {
  font-family: 'Garamond';
  font-size: 37px;
  text-transform: capitalize;
  color: var(--sublime-guinda);
}

.banner-ad .banner-content .banner-title {
  letter-spacing: 0.02em;
  font-size: 33px;
}
.banner-ad.large .banner-content .categories {
  color: var(--sublime-guinda);
}
.banner-ad.large .banner-content .banner-title {
  font-size: 54px;
}

@media screen and (max-width: 991px) {
  /* offcanvas menu */
  .offcanvas-body .nav-item {
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
  }
  .offcanvas-body .filter-categories {
    width: 100%;
    margin-bottom: 20px !important;
    border: 1px solid #d1d1d1 !important;
    padding: 14px;
    border-radius: 8px;
  }
  /* dropdown-menu */
  .dropdown-menu {
    padding: 0;
    border: none;
    line-height: 1.4;
    font-size: 0.9em;
  }
  .dropdown-menu a {
    padding-left: 0;
  }
  .dropdown-toggle::after {
    position: absolute;
    right: 0;
    top: 21px;
  }
}

header img,
.logo img,
.navbar-brand img {
    height: 120px !important;
    width: auto !important;
}

.fenty-banner {
    position: relative;
    overflow: hidden;
}

.fenty-banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;


    width: 45%;      
    height: 100%;

    background-image: url("images/fentygloss.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;

    pointer-events: none;
}


.chart-banner {
    position: relative;
    overflow: hidden;
    background-color: #f6c0869d !important;
}

.chart-banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 45%;      
    height: 100%;

    background-image: url("images/charpale.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    

    pointer-events: none;
}

.header-icon {
    width: 35px !important;
    height: 35px !important;
    object-fit: contain !important;
    display: block !important;
}
header {
    background-color: var(--sublime-amarillo) !important;
}
.header-icon-btn {
    background-color: #ffffff !important; 
    border: none !important;          
    box-shadow: none !important;         
    border-radius: 20px !important;      
    padding: 10px !important;
    text-decoration: none !important;
}

.header-icon-btn:hover {
    background-color: #fff5f9 !important; 
}

.buscar-btn {
    background-color: var(--sublime-rosa) !important; 
    color: white !important;
    border: none !important;
    border-radius: 30px;
    
}

.buscar-btn:hover {
    background-color: var(--sublime-guinda) !important; 
}
.input-group{
  height: 70px;
}
.header-search {
    margin-right: 10px !important;
    max-width: 400px; 
    margin-left: auto;
}
.header-center {
    background-color: var(--sublime-amarillo); 
    color: #B03060; 
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    animation: fadeIn 0.5s ease-in-out;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(5px); }
    100% { opacity: 1; transform: translateY(0); }
}
#promo-text {
    font-size: 18px;       
    color: VAR(--sublime-guinda);   
    font-family: 'Garamond'; 
}

.header-icon-btn{
    font-size: 18px;        
    font-weight: 300;        
    font-family: 'Garamond', sans-serif;  
    color: var(--sublime-guinda);         
    letter-spacing: 1px; 
    height:45px;
}

.btn-banner {
    background-color: #d94f93; 
    color: white;
    border: none;
}

.btn-banner:hover {
    background-color: #b83f7a;
    color: white;
}

.banner-ad.large .img-wrapper img {
    width: 100% !important;
    height: auto !important;
    object-fit: contain;
    margin-top: 100px; 
    transform: scale(1.1);
}

.btn-dark {
    background-color: #c84174 !important;
    border-color: #c84174 !important;
    color: #fff !important;
}

.btn-dark:hover {
    background-color: #a92b5e !important;
    border-color: #a92b5e !important;
}
.ver-todos-link {
    font-size: 1.1rem;
    font-weight: 600;
    color: #8A1E54;
    text-decoration: none;
    transition: 0.3s ease;
    letter-spacing: 0.03em;
}

.ver-todos-link:hover {
    color: #C73E7B; 
    text-decoration: underline;
}

.ver-todos-link span {
    font-size: 1.2rem;
    margin-left: 4px;
    
}
.brand-banner {
    background: #db6d9974; 
    padding: 30px 0;
    border-radius: 20px;
    margin-bottom: 40px;
}

.brand-logo {
    height: 120px;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
}


.product-item {
    background: #ffffff;
    border-radius: 14px;
    padding: 30px;
    height: 100%;
    margin-bottom: 30px; 
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.product-item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px; 
    margin: 0 0 15px 0;
}

.product-item img.tab-image {
    max-height: 200px;
    object-fit: contain;
}

.product-item h3 {
    font-size: 1rem;
    min-height: 45px;
}

/* Precio */
.product-item .price {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-item .btn {
    margin-top: auto; 
}
@media (max-width: 768px) {

    .banner-content .content-wrapper {
        width: 100% !important;
        max-width: 100% !important;
        display: block !important;
    }

    .fenty-banner::after,
    .chart-banner::after {
        width: 60% !important;
        height: 35% !important;
        top: auto !important;
        bottom: 10px !important;
        right: 50% !important;
        transform: translateX(50%) !important;
        background-size: contain !important;
    }

    .banner-ad {
        padding-bottom: 180px !important;
    }
}
.carrito-container {
    max-width: 900px;  
    margin: 0 auto;  
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
}

th, td {
    padding: 12px 15px; 
    text-align: left;
    vertical-align: middle;
}